/* *, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell size: 100px;
    --mark-size: cal(var(--cell-size) * .9);
} */

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    color: hotpink;
    text-align: center;
}

h2 {
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color: hotpink;
}

#clickMe {
    color: magenta;
    text-align: center;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after {
    content: '';
    width: calc(var(--mark-size)* .15);
    height: var(--mark-size);
    background-color: black;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate (-45deg)
} */